/dist
/tmp
/out-tsc
/app-builds
/node_modules

/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
package-lock.json

/e2e/*.js
/e2e/*.map

.DS_Store
Thumbs.db
